<html>
<head>
  <meta charset="UTF-8">
  <title>Which Way to Wild Diner?</title>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3P4t5g6dSiuu1HTeljU_lsVzjqpSinoc">
    </script>

</head>
<body>
<!-- map pin modal -->
<div class="modal fade" id="pinModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Food Item</h4>
      </div>
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- sighting new modal -->
<div class="modal fade" id="sightingNewModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">What I found...</h4>
      </div>
      <div class="modal-body">
        <!-- form here to create new sighting -->
        <form role="form" id="new_sighting_form" action="/sightings/create" method="POST">

          <div class="form-group">
            <label for="food">Food</label>
            <input type="text" name="food" class="form-control" id="foodname_inpt" placeholder="name of food">
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text"  name="location" class="form-control" id="location_inpt" placeholder="Nearby Town, ST">
          </div>
          <div class="form-group">
            <label for="location">Season</label>
            <input type="text"  name="season" class="form-control" id="season_inpt" placeholder="season">
          </div>
          <div class="form-group">
            <label for="location">Photo</label>
            <input type="text"  name="photo_url" class="form-control" id="photo_inpt" placeholder="web address that links to your photo">
          </div>
          <div class="form-group">
            <label for="location">Description</label>
            <input type="textarea"  name="description" class="form-control" id="description_inpt" placeholder="Talk about your food find">
          </div>
          <button type="submit" class="btn btn-primary" name="new_sighting_btn" id="sighting_submit">Report It!</button>
          <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <!-- header -->
  <div class="container">
    <%= render partial: "shared/header" %>

    <!-- Begin page content -->

    <!-- Begin report_or_hunt -->
    <div class="" id="report_or_hunt">
      <%= render partial: "report_or_hunt" %>
    </div>
    <!-- End report_or_hunt -->

    <!-- Begin sightings_index -->
    <div class="row" id="sightings_index_main">
      <div class="col-md-8 noshow" id="sightings_index">
        <%= render partial: "sightings/sightings_index" %>
      </div>
    <!-- End sightings_index -->
    <!-- Begin map view -->
      <div class="col-md-16 noshow" id="map_div">
        <div id="map-canvas"></div>
      </div>
    </div> 
    <!-- end sightings index  -->

    <!-- begin users_show -->
    <div class="row noshow" id="users_show">

      <div class="col-md-6" id="my_sightings">
        <%= render partial: "users/users_show" %>
      </div>

      <div class="col-md-17 noshow" id="sighting_show">
        <div class="row">
          <div class="col-md-7 show_sighting_photo">
            <!-- appropriate photo displays on link click -->
          </div>
          <div class="col-md-16 show_sighting_info">
            <!-- appropriate sighting info displays on link click -->
          </div>
        </div>
      </div>

    </div>

    <!-- end users_show -->

  </div>
  <!-- end page content -->

<%= render partial: "shared/footer" %>

</body>
</html>
