<html>
<head>
  <meta charset="UTF-8">
  <title>Which Way to Wild Diner?</title>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3P4t5g6dSiuu1HTeljU_lsVzjqpSinoc">
    </script>

</head>
<body>
<!-- map pin modal -->
<div class="modal fade" id="pinModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Food Item</h4>
      </div>
      <div class="modal-body">
        <p>description&hellip;</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <!-- header -->
  <div class="container">
    <%= render partial: "shared/header" %>

    <!-- Begin page content -->

    <!-- Begin report_or_hunt -->
    <div class="" id="report_or_hunt">
      <%= render partial: "report_or_hunt" %>
    </div>
    <!-- End report_or_hunt -->

    <!-- Begin sightings_index -->
    <div class="row" id="sightings_index_main">
      <div class="col-md-8 noshow" id="sightings_index">
        <%= render partial: "sightings/sightings_index" %>
      </div>
    <!-- End sightings_index -->
    <!-- Begin map view -->
      <div class="col-md-16 noshow" id="map_div">
        <div id="map-canvas"></div>
      </div>
    </div> 
    <!-- end sightings index  -->

    <!-- begin users_show -->
    <div class="row" id="users_show">
        <%= render partial: "users/users_show" %>
    </div>

    <!-- end users_show -->

  </div>
  <!-- end page content -->

<%= render partial: "shared/footer" %>

</body>
</html>
