<html>
<head>
  <meta charset="UTF-8">
  <title>Which Way to Wild Diner?</title>

</head>
<body>
  <!-- header -->
  <div class="container">
    <%= render partial: "shared/header" %>

    <!-- Begin page content -->

    <!-- Begin report_or_hunt -->
    <div class="" id="report_or_hunt">
      <%= render partial: "report_or_hunt" %>
    </div>
    <!-- End report_or_hunt -->

    <!-- Begin sightings_index -->
    <div class="row noshow" id="sightings_index_main">
      <div class="col-md-8" id="sightings_index">
        <%= render partial: "sightings/sightings_index" %>
      </div>
    <!-- End sightings_index -->
    <!-- Begin map view -->
      <div class="col-md-16 noshow" id="map_div">
        <%= render partial: "map" %>
      </div>
    </div>  

  </div>
  <!-- end page content -->

<%= render partial: "shared/footer" %>

</body>
</html>
